:root {
    --editor-font: Consolas;
    --font-size: 100%;
}
.theme--light {
    --mdc-theme-light: #e4e4e4;
    --mdc-theme-primary: #2979ff;
    --mdc-theme-secondary: #2979ff;
    --mdc-theme-background: #f4f4f4;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #e74c3c;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #2e383c;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: #2e383c;
    --mdc-theme-disabled: rgba(0, 0, 0, 0.12);
    --mdc-theme-button-border: rgba(0, 0, 0, 0.12);
    --mdc-theme-success: #57bb8a;
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-ripple-color: #000;
    --editor-bg: var(--mdc-theme-surface);
    --editor-color: var(--mdc-theme-on-surface);
    --line-number: #b2bec3;
    --commment: #b2bec3;
    --keywords: #0984e3;
    --numbers: #8e44ad;
    --string: #e67e22;
    --text: #27ae60;
    --tag: #c0392b;
    --mdc-checkbox-unchecked-color: rgba(0, 0, 0, 0.54)
}
.theme--dark {
    --mdc-theme-light: rgba(255, 255, 255, 0.12);
    --mdc-theme-primary: #f39c12;
    --mdc-theme-secondary: #f39c12;
    --mdc-theme-background: #1e1e1e;
    --mdc-theme-surface: #1a1a1a;
    --mdc-theme-error: #e74c3c;
    --mdc-theme-on-primary: #fafafa;
    --mdc-theme-on-secondary: #fafafa;
    --mdc-theme-on-surface: #fafafa;
    --mdc-theme-on-error: #fafafa;
    --mdc-theme-text-primary-on-background: #d2d2d2;
    --mdc-theme-disabled: rgba(255, 255, 255, 0.38);
    --mdc-theme-button-border: rgba(255, 255, 255, 0.12);
    --mdc-theme-success: #57bb8a;
    --editor-bg: var(--mdc-theme-surface) !important;
    --editor-color: var(--mdc-theme-on-surface) !important;
    --line-number: #7f848e !important;
    --commment: #7f848e !important;
    --keywords: #f3b554 !important
    --numbers: #71adde !important;
    --string: #98c379 !important;
    --tag: #c0392b !important;
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.54);
    --mdc-ripple-color: #fff;
    --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-primary-on-light: rgba(255, 255, 255, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(255, 255, 255, 0.54);
    --mdc-theme-text-hint-on-light: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-primary-on-dark: #fafafa;
    --mdc-theme-text-secondary-on-dark: rgba(0, 0, 0, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(0, 0, 0, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(0, 0, 0, 0.5);
    --mdc-checkbox-unchecked-color: rgba(255, 255, 255, 0.54)
}
.mdc-theme--success {
    --mdc-theme-primary: var(--mdc-theme-success) !important;
    color: var(--mdc-theme-success) !important;
    --mdc-ripple-color: var(--mdc-theme-success) !important;
}
.mdc-theme--primary {
    color: var(--mdc-theme-primary) !important;
    --mdc-ripple-color: var(--mdc-theme-primary) !important;
}
.mdc-button--outlined:not(:disabled) {
    border-color: var(--mdc-theme-button-border);
}
.mdc-list-item__graphic {
    margin-right: 10px;
}
.mdc-button--raised:disabled,
.mdc-button--unelevated:disabled {
    background-color: var(--mdc-theme-disabled);
}
.mdc-menu-surface {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
}
.mdc-drawer {
    border-color: var(--mdc-theme-light);
    background-color: var(--mdc-theme-surface);
}
.mdc-icon-button {
    color: var(--mdc-theme-text-primary-on-background);
}
.mdc-button--outlined:disabled {
    border-color: var(--mdc-theme-disabled);
}
.mdc-button:disabled {
    color: var(--mdc-theme-text-disabled-on-background);
}
.mdc-linear-progress__buffer-bar {
    background-color: var(--mdc-theme-surface);
}
.mdc-tab:not(.mdc-tab.mdc-tab--active) .mdc-tab__text-label,
.mdc-tab:not(.mdc-tab.mdc-tab--active) .mdc-tab__icon,
.mdc-menu .mdc-list,
.mdc-menu .mdc-list-item__graphic,
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-drawer .mdc-list-item,
.mdc-drawer .mdc-list-group__subheader,
.mdc-drawer .mdc-list-item__graphic,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon--leading,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--mdc-theme-text-primary-on-background);
}
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label,
.mdc-snackbar__action:not(:disabled),
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic,
.mdc-drawer .mdc-list-item--activated,
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary);
}
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading,
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-light);
}
.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-notched-outline__leading,
.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-notched-outline__notch,
.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-error, #b00020);
}
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__trailing,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-light);
    transition: all 0.4s ease-in-out;
}
.mdc-top-app-bar {
    background-color: var(--mdc-theme-surface);
    color: var(--mdc-theme-text-primary-on-background);
    border-bottom: 1px solid var(--mdc-theme-light);
    z-index: 5;
}
.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    color: var(--mdc-theme-on-surface);
}
* {
    letter-spacing: 0 !important;
}
.mdc-banner {
    border: 1px solid var(--mdc-theme-primary) !important;
    position: absolute;
    bottom: 8px;
    z-index: 55555555;
    width: 50%;
    margin: 8px;
}
.main-content {
    padding: 5px;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-text-primary-on-background);
    font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

 .on-progress {
    pointer-events: none !important;
    opacity: 0.4 !important;
}
/* width */
.theme--dark ::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Track */
 .theme--dark ::-webkit-scrollbar-track {
    background: #424242;
  }
   
  /* Handle */
  .theme--dark ::-webkit-scrollbar-thumb {
    background: #676767;
    border:2px solid #424242;
  }
  
  /* Handle on hover */
  .theme--dark ::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b; 
  }
  .theme--dark ::-webkit-scrollbar-thumb::before {
    background: #a1a1a1; 
  }
  ::-webkit-scrollbar-button:single-button {
    display: block;
    border: 1px solid #424242;
    background:#424242;
    height: 2px;
    width: 16px;
  }

.mdc-tooltip {
    z-index: 5555555;
}
.banner {
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.4;
}
.banner span {
    font-size: 24px;
}
.banner img {
    margin: -10px 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media only screen and (max-width: 690px) {
    .mdc-top-app-bar__title label {
        display: none;
    }
}
@media only screen and (max-width: 1069px) {
    .mdc-top-app-bar__title label {
        width: calc(100% - 100px);
    }
    .banner {
        display: none !important;
    }
    .card,
    .dialog {
        width: 95% !important;
    }
    .mdc-top-app-bar__section.mdc-top-app-bar__section--align-end .mdc-button__label {
        display: none !important;
    }
    .mdc-top-app-bar__section.mdc-top-app-bar__section--align-end .mdc-button__icon {
        margin-left: 5px !important;
    }
}
._404_container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    ._404_container > * {
    text-align: center!important;
    margin: 0 auto 0 auto!important;
    }
    ._404_image{
    margin-top: 50px!important;
    width:350px!important;
    }
    .center_404{
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    }
    .center_404 > *
    {
    font-size:10rem!important;
    color:var(--mdc-theme-primary);
    }
    .underline {
    width: 80px!important;
    height: 2px!important;
    background: var(--mdc-theme-primary);
    margin: 14px auto!important;
    }
    p._404_body{
    display: block!important;
    text-align: center!important;
    font-weight: 400!important;
    font-size: 18px!important;
    clear: both!important;
    color: var(--mdc-theme-primary-on-background)
    }
    ._404_btn {
    margin-top: 20px!important;
    }
